body{
  background-color:whitesmoke;
  color:  rgb(101, 158, 101);
  align-items: center;
  text-align: center;
}
.container {
  text-align: center;
  margin: 200px;
}
.heading{
  font-size: 50px;
}

h1{
  font-size: 100px;
}

button {
  height: 50px;
  width: 100px;
  color:lightgreen;
  border-radius: 10px;
  background-color: teal;
}


label{
 display: block;
 margin:5px 0 10px 0;
 
}
.searchLabel{
  font-size: 20px;

}

.check-label{
  color: grey;
  opacity: 0.8;
}

td{
  margin: 200px;
}

.MarketPlace{
  display: block;
}